<div class="container">
  <a href="/groupline/create_group">그룹생성</a>
  <div class="row">
    <% @groupline.each do |p| %>
    <div class="col-md-6">
      <a href="/groupline/group_detail/<%= p.id%>">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title" style="display: inline-block"><%= p.group_name %></h3>
            2 / <%= p.group_max %>
            <%= p.group_founder %>
          </div>
          <div class="panel-body">
            <%= p.group_region %>
            <%= p.group_interest %>
            <%= p.group_like %>
          </div>
        </div>
      </a>
    </div>
    <% end %>
  </div>
</div>