<!-- 그룹 전체보기 페이지 시작 -->
<div class="container">
  <div class="createbutton" style="margin: 20px; height: 20px;">
  <a data-toggle="modal" data-target="#create_group" style="cursor: pointer"><span class="glyphicon glyphicon-plus-sign" style="font-size: 35px; float: right;"></span></a>
  </div>
  
  <!--유저 로그인 상태에 따라 로그인/로그아웃 버튼 활성화 by 예준-->
  <div class="row">
    <% if user_signed_in? %>
      <%= link_to('Logout', destroy_user_session_path, :method => :get) %>
        <% if current_user.profile_img =! nil %>
        <br>
        <img src ="<%= current_user.profile_img %>">
        <% end %>
      <p>이메일 : <%= current_user.email %></p>
      <p>닉네임 : <%= current_user.nickname %></p>
      <p>내 지역 : <%= current_user.first_station %>, <%= current_user.second_station %></p>
      <e><%= link_to '프로필 사진 수정' , "/groupline/profile" %></e></br>

    <% else %>
      <%= link_to('Login', new_user_session_path)  %>
    <% end %>
  </div>
  
  
  <div class="row">
    <% @groupline.each do |p| %>
    <div class="col-md-6">
      <a href="/groupline/group_detail/<%= p.id%>">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title" style="display: inline-block"><%= p.group_name %></h3>
            <%= p.memberships.count %> / <%= p.group_max %>
            <%= p.group_founder %>
          </div>
          <div class="panel-body">
            <%= p.group_region %>
            <%= p.group_interest %>
            <span class="glyphicon glyphicon-thumbs-up"><% unless p.group_like == 0 %><%= p.group_like %><% end %></span>
          </div>
        </div>
      </a>
    </div>
    <% end %>
  </div>
</div>
<!-- 그룹 전체보기 페이지 끝 -->

<!-- 그룹 생성 modal 시작-->
<div class="modal fade" id="create_group" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">그룹생성</h4>
      </div>
      <form action="/groupline/group_create" method="POST">
        <div class="modal-body">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">그룹이름</span>
            <input type="text" name="group_name" class="form-control" placeholder="그룹 이름" aria-describedby="basic-addon1">
          </div>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">최대인원</span>
            <input type="text" name="group_max" class="form-control" placeholder="숫자로 입력" aria-describedby="basic-addon1">
          </div>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">지역</span>
            <select class="form-control" id="gu">
              <option value="">--</option>
              <option value="jungrang">중랑구</option>
              <option value="gwangjin">광진구</option>
            </select>
            <select class="form-control" id="station" name="group_region">
              <option value="">--</option>
              <option value="상봉역" class="jungrang">상봉역</option>
              <option value="중화역" class="jungrang">중화역</option>
              <option value="망우역" class="jungrang">망우역</option>
              <option value="건대입구역" class="gwangjin">건대입구역</option>
              <option value="어린이대공원역" class="gwangjin">어린이대공원역</option>
              <option value="강변역" class="gwangjin">강변역</option>
            </select>
          </div>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">관심사</span>
            <input type="text" name="group_interest" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
          </div>
          <textarea class="form-control" rows="6" name="group_content" placeholder="그룹을 소개해주세요"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">게시</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- 그룹 생성 modal 끝-->

<!-- select script 시작 -->
<script>
  $(function(){
    $('#create_group').on('show.bs.modal', function (event) {
      $("#station").chained("#gu");
    });
  });
</script>
<script src="/jquery.chained.min.js"></script>
<!-- select script 끝 -->