<!DOCTYPE html>
<html>
<head>
  
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

  <meta charset="UTF-8">
  <!-- 합쳐지고 최소화된 최신 CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  
  <!-- 부가적인 테마 -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  
  <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

</head>
<body>
  <div id="wrapper">
    <div class="overlay"></div>
    <%= render :partial => "groupline/dashboard.erb"%>
    <div id="page-content-wrapper">
    <button type="button" class="hamburger is-closed" data-toggle="offcanvas" style="margin-top: 50px; margin-left: 20px;">                                        >
        <span class="hamb-top"></span>
      	<span class="hamb-middle"></span>
      	<span class="hamb-bottom"></span>
    </button>
    <%= yield %>
    </div>
  </div>
</body>
</html>
